<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
        <style>
            h1{
            color: red;
            }
            body {
            background-color: lightblue;
            font-family: Arial;
            font-style: italic;

            }


        </style>
    </head>
    <body>
        <h1 >Home Page html</h1>
        <h2 >Home Page html</h2>
        <img src="https://m.media-amazon.com/images/I/618flJ0XILL._AC_UF1000,1000_QL80_.jpg">

    </body>
</html>